
<div class="container container-cover" style="height:100em; min-width:20em;background:white;">
<div class="" style="height: 98%">
<div class="col-md-12" style="height:100%">
<div class="row" style="height: 33.33%;">

			<a class="linky" >
			<div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center; height: 100%; margin-bottom:2%;">
				<div class="col-md-12 col-xs-12 hvr-float" style="background:white; height: 100%;-webkit-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);">
					<div class="" style="height:100%; padding: 1%">
						<div class="col-md-5 col-sm-5 hidden-xs" style="background-image: url(https://i.imgur.com/mUhob25.png); float: right; background-position: center; height: 90%; background-size: contain; background-repeat: no-repeat;">
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12" style="float: left; height:100%; display: flex; text-align: justify;">
							<div class="row" style="height: 100%; padding-right:2%;">
								<div class="track-title-box" style="">
									<p class="track-title" style="color:black; font-weight: 400; font-size: 1.8em; line-height: 1.2;">Heading Message</p>
								</div>
								<div class="track-description-box" style="margin-bottom: 2%;">
                                                               	<h2 class="" style="">Key Point of Class</h2>
									<p class="" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Gain knowledge on one of the hottest professions of the 21st century. Data Scientists interpret data and transforms it into solutions to meaningful business problems</p>
								</div>
                                                                <div class="track-description-box" style="margin-bottom: 2%;">
                                                                        <h2 class="" style="">Key Point of Class</h2>
                                                                        <p class="" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Gain knowledge on one of the hottest professions of the 21st century. Data Scientists interpret data and transforms it into solutions to meaningful business problems</p>
                                                                </div>
                                                                <div class="track-description-box">
                                                                        <h2 class="" style="">Key Point of Class</h2>
                                                                        <p class="" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Gain knowledge on one of the hottest professions of the 21st century. Data Scientists interpret data and transforms it into solutions to meaningful business problems</p>
                                                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</a>
			

</div>

<div class="row" style="height: 33.33%;">
			<a >
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center; height: 100%; margin-bottom:2%;">
                                <div class="col-md-12 col-xs-12 hvr-float" style="background:white; height: 100%;-webkit-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);">
                                        <div class="" style="height:100%; padding: 1%">
                                                <div class="col-md-5 col-sm-5 hidden-xs" style="background-image: url(https://i.imgur.com/V1d9ysQ.png); float: left; background-position: center; height: 90%; background-size: contain; background-repeat: no-repeat;">
                                                </div>
                                                <div class="col-md-7 col-sm-7 col-xs-12" style="float: right; height:100%; display: flex; text-align: justify;">
                                                        <div class="row" style="height: 100%; padding-left:2%;">
                                                                <div class="track-title-box" style="">
                                                                        <p class="track-title" style="color:black; font-weight: 400; font-size: 1.8em; line-height: 1.2;">Heading Message</p>
                                                                </div>
                                                                <div class="track-description-box" style="margin-bottom: 2%;">
                                                                <h2 class="" style="">Key Point of Class</h2>
                                                                        <p class="" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Gain knowledge on one of the hottest professions of the 21st century. Data Scientists interpret data and transforms it into solutions to meaningful business problems</p>
                                                                </div>
                                                                <div class="track-description-box" style="margin-bottom: 2%;">
                                                                        <h2 class="" style="">Key Point of Class</h2>
                                                                        <p class="" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Gain knowledge on one of the hottest professions of the 21st century. Data Scientists interpret data and transforms it into solutions to meaningful business problems</p>
                                                                </div>
                                                                <div class="track-description-box">
                                                                        <h2 class="" style="">Key Point of Class</h2>
                                                                        <p class="" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Gain knowledge on one of the hottest professions of the 21st century. Data Scientists interpret data and transforms it into solutions to meaningful business problems</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
			</a>
</div>


<div class="row" style="height:33.33%;">
			<a >
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center; height: 100%; margin-bottom:2%;">
                                <div class="col-md-12 col-xs-12 hvr-float" style="background:white; height: 100%;-webkit-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);">
                                        <div class="" style="height:100%; padding: 1%">
                                                <div class="col-md-5 col-sm-5 hidden-xs" style="background-image: url(https://i.imgur.com/Jf33j0Y.png); float: right; background-position: center; height: 90%; background-size: contain; background-repeat: no-repeat;">
                                                </div>
                                                <div class="col-md-7 col-sm-7 col-xs-12" style="float: left; height:100%; display: flex; text-align: justify;">
                                                        <div class="row" style="height: 100%; padding-right:2%;">
                                                                <div class="track-title-box" style="">
                                                                        <p class="track-title" style="color:black; font-weight: 400; font-size: 1.8em; line-height: 1.2;">Heading Message</p>
                                                                </div>
                                                                <div class="track-description-box" style="margin-bottom: 2%;">
                                                                <h2 class="" style="">Key Point of Class</h2>
                                                                        <p class="" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Gain knowledge on one of the hottest professions of the 21st century. Data Scientists interpret data and transforms it into solutions to meaningful business problems</p>
                                                                </div>
                                                                <div class="track-description-box" style="margin-bottom: 2%;">
                                                                        <h2 class="" style="">Key Point of Class</h2>
                                                                        <p class="" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Gain knowledge on one of the hottest professions of the 21st century. Data Scientists interpret data and transforms it into solutions to meaningful business problems</p>
                                                                </div>
                                                                <div class="track-description-box">
                                                                        <h2 class="" style="">Key Point of Class</h2>
                                                                        <p class="" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Gain knowledge on one of the hottest professions of the 21st century. Data Scientists interpret data and transforms it into solutions to meaningful business problems</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
			</a>
</div>

</div>
</div>
</div>
<div class="noot" style="padding-bottom: 2%;"> </div>
