<div class="" style="height: 75em">
<div class="col-md-12" style="height:100%">
		<div class="row" style="height: 25%">
			<div class="col-md-6 col-sm-12 col-xs-12 track-box" style="text-align: center; background-color: #A7B858;height: 100%;">
				<div class="row" style="height:100%;">
					<div class="col-md-6 col-sm-6 hidden-xs" style="background-image: url(https://i.imgur.com/wMhWQfG.png); float: left; background-position: center; height: 100%; background-size: contain; background-repeat: no-repeat;">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12" style="float: right; height:100%; display: flex; align-items: center; justify-content: center;">
                                		<div class="row">
						<a href="../1" class="col-md-12"><h1 class="track-title">Data Science</h1></a>
						<h3 class="col-md-12 track-description">Gain knowledge on one of the hottest professions of the 21st century. Data Scientists interpret data and transforms it into solutions to meaningful business problems</h3>
						<div>
						<a href="../1" class="col-md-12"><h3 class="track-link btn btn-primary">Browse Courses ></h3></a>
						</div>
						</div>
                                	</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 track-box" style="text-align: center; background-color: #2D8D7F; height:100%">
				<div class="row" style="height:100%;">
				<div class="col-md-6 col-sm-6 hidden-xs" style="background-image: url(https://i.imgur.com/krA4FOK.png); float: left; background-position: center; height: 100%; background-size: contain; background-repeat: no-repeat;">
                            	</div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="float: right; height: 100%; display: flex; align-items: center; justify-content: center;">
                                <div class="row">
				<a href="../2" class="col-md-12"><h1 class="track-title">Big Data</h1></a>                        
        			<h3 class="col-md-12 track-description">Learn to create Big Data workflows on the Cloud</h3>
				<div>
				<a href="../2" class="col-md-12"><h3 class="track-link btn btn-primary">Browse Courses ></h3></a>
				</div>
				</div>
				</div>
				</div>
			</div>
		</div>
		<div class="row" style="height: 25%;">
			<div class="col-md-6 col-sm-12 col-xs-12 track-box" style="text-align: center; background-color: #00545F; height: 100%;">
                                <div class="row" style="height:100%;">
				<div class="col-md-6 col-sm-6 hidden-xs" style="background-image: url(https://i.imgur.com/VNJnOYh.png); float: right; background-position: center; height: 100%; background-size: contain; background-repeat: no-repeat;">
				</div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="float: left; height:100%; display: flex; align-items: center; justify-content: center;">
                        	<div class="row">
				<a href="../3"><h1 class="track-title">Artifical Intelligence</h1></a>                                
				<h3 class="col-md-12 track-description">Create next level software solutions capable of showing anthropomorphic level of language, speech and understanding</h3>
				<div>
				<a href="../3" class="col-md-12"><h3 class="track-link btn btn-primary">Browse Courses ></h3></a>
				</div>
				</div>
				</div>
				</div>
                	</div>
	                <div class="col-md-6 col-sm-12 col-xs-12 track-box" style="text-align: center; background-color: #523473; height: 100%;">
	                	<div class="row" style="height:100%;">
			        <div class="col-md-6 col-sm-6 hidden-xs" style="background-image: url(https://i.imgur.com/LtDRg8s.png); float: right; background-position: center; height: 100%; background-size: contain; background-repeat: no-repeat;">
			        </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="float: left; height:100%; display: flex; align-items: center; justify-content: center;">
	                        <div class="row">
				<a href="../4"><h1 class="track-title">DevOps</h1></a>
				<h3 class="col-md-12 track-description">Equip yourself with the skills necessary to deliver apps or services in a fast-paced work environment. Redefining traditional software development and infrastructure management</h3>
				<a href="../4" class="col-md-12"><h3 class="track-link btn btn-primary">Browse Courses ></h3></a>                                
				</div>
				</div>
				</div>
                	</div>
		</div>
		<div class="row" style="height:25%">
		 	<div class="col-md-6 col-sm-12 col-xs-12 track-box" style="text-align: center; background-color: #FAA54B; height: 100%;">
                        	<div class="row" style="height:100%;">
			        <div class="col-md-6 col-sm-6 hidden-xs" style="background-image: url(https://i.imgur.com/oVBpBmW.png); float: left; background-position: center; height: 100%; background-size: contain; background-repeat: no-repeat;">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="float: right; height:100%; display: flex; align-items: center; justify-content: center;">
                                <div class="row">
				<a href="../5"><h1 class="track-title">Modern IT Support</h1></a>
				<h3 class="col-md-12 track-description">Engage customers with a vast set of skills to diagnose, troubleshoot and provide solutions</h3>
				<a href="../5" class="col-md-12"><h3 class="track-link btn btn-primary">Browse Courses ></h3></a>
				</div>
				</div>
				</div>
                	</div>
                	<div class="col-md-6 col-sm-12 col-xs-12 track-box" style="text-align: center; background-color: #4A6BB1;height: 100%;">
				<div class="row" style="height:100%;">
                                <div class="col-md-6 col-sm-6 hidden-xs" style="background-image: url(https://i.imgur.com/2bTQ5Ac.png); float: left; background-position: center; height: 100%; background-size: contain; background-repeat: no-repeat;">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="float: right; height:100%; display: flex; align-items: center; justify-content: center;">
				<div class="row">
                                <a href="../6"><h1 class="track-title">Internet of Things</h1></a>
				<h3 class="col-md-12 track-description">Learn the tools needed to make a successful career in IoT</h3>
				<a href="../6" class="col-md-12"><h3 class="track-link btn btn-primary">Browse Courses ></h3></a>
				</div>
				</div>
				</div>
                	</div>
		</div>
		<div class="row" style="height: 25%">
		 	<div class="col-md-6 col-sm-12 col-xs-12 track-box" style="text-align: center; background-color: tomato; height:100%">
                                <div class="row" style="height:100%;">
				<div class="col-md-6 col-sm-6 hidden-xs" style="background-image: url(https://i.imgur.com/fH0c1iK.png); float: right; background-position: center; height: 100%; background-size: contain; background-repeat: no-repeat;">
				</div>
                     	        <div class="col-md-6 col-sm-6 col-xs-12" style="float: left; height:100%; display: flex; align-items: center; justify-content: center;">
				<div class="row">
                                <a href="../7"><h1 class="track-title">Entry Level Modern Software Development</h1></a>
				<h3 class="col-md-12 track-description">Take the first step towards your software development journey</h3>
				<a href="../7"class="col-md-12"><h3 class="track-link btn btn-primary">Browse Courses ></h3></a>
				</div>
				</div>
				</div>
                	</div>
                	<div class="col-md-6 col-sm-12 col-xs-12 track-box" style="text-align: center; background-color: darkviolet; height: 100%">
                                <div class="row" style="height:100%;">
				<div class="col-md-6 col-sm-6 hidden-xs" style="background-image: url(https://i.imgur.com/frVYlxD.png); float: right; background-position: center; height: 100%; background-size: contain; background-repeat: no-repeat;">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="float: left; height:100%; display: flex; align-items: center; justify-content: center;">
                                <div class="row">
				<a href="../8"><h1 style="color: white">Front End Web Development</h1></a>
                                <h3 class="col-md-12 track-description">Produce attractive and efficient user interfaces with HTML, CSS, JavaScript, Angular, Bootstrap and JQuery</h3>
				<a href="../8"class="col-md-12"><h3 class="track-link btn btn-primary">Browse Courses ></h3></a>
				</div>
				</div>
				</div>
                	</div>
		</div>
	</div>
</div>
