<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home" style="background-color: white !important;">
        <div class="banner-container">
          <div style="background:url('https://i.imgur.com/qM5e9U0.jpg') center center; background-size:cover; z-index:1; position:relative; clip-path: polygon(0 0, 100% 0, 100% 92%, 78% 100%, 29% 100%, 0 92%);" class="slider-size cobena-banner">
           <div class="caption">
	      <h2 class="car-head" style="font-size:2.5em; font-weight:600;">TAKE THE FIRST STEP</h2>
              <h2 class="car-head" style="font-size:2.5em; font-weight:600;">TO YOUR KNOWLEDGE WITH US</h2>
              <div class="nudge-4" style="">
		 <p class="car-text nudge-2" style="font-weight:lighter;">Ready to get started?</p>
                 <a type="button" href="/tracks/data-science" class="btn btn-secondary car-button nudge-2" style="color:black;">BOOK A CLASS NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

	<!--<div class="filler"></div>-->
        <div class="track-container containter-cover">
        <%include file="schedule_list.html" />
        </div>

        <div class="track-container containter-cover">
        <%include file="track_list.html" />
        </div>     

        <div class="track-container containter-cover">
        <%include file="newsletter.html" />
        </div>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
