<div class="container container-cover newsletter-container">
<!--   <div class="col-md-12" style="height:100%"> -->
	<div class="carousel-container">
	    <!-- Carousel Fixed Height -->
	    <section class="carousel-fixed-height hidden-sm hidden-xs">
    	    <div id="carousel-fixed-height" class="carousel slide" data-ride="carousel">
        	<ol class="carousel-indicators">
        	<li data-target="#carousel-fixed-height" data-slide-to="0" class=""></li>
        	<li data-target="#carousel-fixed-height" data-slide-to="1" class=""></li>
        	<li data-target="#carousel-fixed-height" data-slide-to="2" class="active"></li>
      		</ol>
      		    <div class="carousel-inner" role="listbox">
        		<div class="item active">
          		    <div carousel class="slider-size carousel-image-one">
	    			<div class="testimonial-container">
				    <div class="testimonial">
                    			<div class="col-md-2">
					    <div class="profile-picture">
		            			<img src="https://i.imgur.com/9yD74Dl.png" alt="Avatar">
					    </div>
                    			</div>
	            			<div class="col-md-9 text-justify">	
					    <div class="row">
			    			<div class="col-md-12">
		                		    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						    <cite>Happy customer</cite>
						    </blockquote>
			    			</div>
					    </div>
		    			</div>
	        		    </div>
            			</div>
        		    </div>
			</div>
	       		<div class="item">
          		    <div carousel class="slider-size carousel-image-two">
            			<div class="testimonial-container">
                		    <div class="testimonial">
                    			<div class="col-md-2">
                        		    <div class="profile-picture">
                            			<img src="https://i.imgur.com/yZsFVVU.png" alt="Avatar" >
                        		    </div>
                    			</div>
                    			<div class="col-md-9 text-justify">
                        		    <div class="row">
                            			<div class="col-md-12">
                                		    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                                		    <cite>Happy customer</cite>
                                		    </blockquote>
                            			</div>
                        		    </div>
                    			</div>
                		    </div>
            			</div>
        		    </div>
			</div>
	        	<div class="item">
          		    <div carousel class="slider-size carousel-image-three">
            			<div class="testimonial-container">
                		    <div class="testimonial">
                    			<div class="col-md-2">
                        		    <div class="profile-picture">
                            			<img src="https://i.imgur.com/QG9n4yw.png" alt="Avatar">
                        		    </div>
                    			</div>
                    			<div class="col-md-9 text-justify">
                        		    <div class="row">
                            			<div class="col-md-12">
                                		    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                                		    <cite>Happy customer</cite>
                                		    </blockquote>
                            			</div>
                        		    </div>
                    			</div>
                		    </div>
            			</div>
        		    </div>
        		</div>
          	    </div>
        	</div>
      	    </div>
      	<a class="left carousel-control hidden" href="#carousel-fixed-height" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
      	<a class="right carousel-control hidden" href="#carousel-fixed-height" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      	</a>
    <!--	</div> -->
	</section>
  	<!-- /end Carousel Fixed Height -->
    <!--</div> -->
    <div class="newsletter text-center">
    	<div class="news-head col-md-12">
	    <h1 class="color-me-cobena"><strong>Newsletter</strong></h1>
	    <h2 class="color-me-cobena">Subscribe your email for latest updates</h2>
        </div>
    	<div class="form-row">
	    <div class="form-group hidden-xs col-sm-1 col-md-1"></div>
  	    <div class="form-group-md col-xs-12 col-sm-8 col-md-8">
            	<input class="form-control rounded-corners" style="margin-bottom: 2%;" type="email" class="form-control" id="Email Input" aria-describedby="emailHelp" placeholder="ENTER YOUR EMAIL HERE">
  	    </div>
	    <div class="form-group-md col-xs-12 col-sm-2 col-md-2">
	        <button type="submit" class="rounded-corners btn-cobena">SUBSCRIBE</button>
	    </div>
	    <div class="form-group hidden-xs col-sm-1 col-md-1"></div>
        </div>
    </div>
</div>


