<div class="container container-cover schedule-container">
    <div class="" style="height: 100%">
	<div class="sched-head-container">
	    <div class="sched-head">
	    <h1 class="color-me-cobena">SCHEDULE OF WORKSHOPS</h1>
		    <h5 class="color-me-cobena">Classroom Training for 2019</h5>
		</div>
	    </div>
	    <div class="sched-details text-center">
		<a href="#" class="link">
		    <div class="class-container col-xs-12 col-sm-4 col-md-4">
			<div class="hvr-float class" style="">
			    <div class="sched-image-container hidden-xs">
				<div class="sched-image one">
				</div>
			    </div>
			    <div class="sched-class">
				<h3 class="color-me-cobena"><strong>1-DAY ADVANCE POWER BI TRAINING</strong></h3>
				<h5 class="color-me-cobena">AUGUST 21</h5>
			    </div>
			</div>
		    </div>
		</a>
		<a href="#" class="link">
		    <div class="class-container col-xs-12 col-sm-4 col-md-4">
			<div class="hvr-float class">
			    <div class="sched-image-container hidden-xs">
				<div class="sched-image two">
				</div>
			    </div>
			    <div class="sched-class">
				<h3 class="color-me-cobena"><strong>TABLEAU BOOTCAMP</strong></h3>
				<h5 class="color-me-cobena">AUGUST 12& 19</h5>
			    </div>
			</div>
		    </div>
		</a>
		<a href="#" class="link">
		    <div class="class-container col-xs-12 col-sm-4 col-md-4">
			<div class="hvr-float class">
			    <div class="sched-image-container hidden-xs">
				<div class="sched-image three">
				</div>
			    </div>
			    <div class="sched-class">
				<h3 class="color-me-cobena"><strong>PLOTS & TRENDS</strong></h3>
				<h5 class="color-me-cobena">AUGUST 16 & 31</h5>
			    </div>
			</div>
		    </div>
		</a>
	    </div>
	    <div class="sched-button-container text-center" style="height:20%">
		<button type="button" href="#" class="btn btn-secondary btn-cobena">BOOK A CLASS NOW</button>
	    </div>
	</div>
    </div>
</div>

