<div class="container container-cover cobena-tracks" style="height:100em; min-width:20em;background:white;">
    <div class="tracks" style="height: 98%">
	<div class="row track-box">
	    <a class="linky">
	    <div class="col-md-12 col-sm-12 col-xs-12 track-box-outer">
		<div class="col-md-12 col-xs-12 hvr-float track-box-inner track-one">
		    <div class="track-box-inner-cushion">
			<div class="col-md-5 col-sm-5 hidden-xs track-image-one"></div>
			<div class="col-md-7 col-sm-7 col-xs-12 no-padding track-text-left">
			    <div class="col-md-12 no-padding separator-right">
				<div class="track-header-box col-md-12">
				    <p class="track-header color-me-cobena"><strong>Heading Message</strong></p>
				</div>
			        <div class="point-line hidden-xs hidden-sm"></div>
				<div class="point-container col-md-12 no-padding">
				    <div class="ball-container hidden-xs hidden-sm col-md-1 no-padding">
					<div class="circle">
					    <p class="circle-number color-me-cobena"><strong>1</strong></p>
					</div>
				    </div>
				<div class="text-container col-xs-12 col-sm-12 col-md-11 no-padding">
				    <div class="headline-text color-me-cobena"><strong>Key Point of Class</strong></div>
				    <div class="content-text color-me-cobena">
					<p>Dolor voluptate adipisicing incididunt non voluptate amet dolore. Sunt pariatur occaecat sit qui commodo consequat excepteur veniam cupidatat non pariatur tempor Lorem. Proident ipsum ullamco anim do veniam nisi incididunt eu dolore eiusmod voluptate do aliqua officia.</p>
				    </div>
				</div>
			    </div>
			    <div class="point-container col-md-12 no-padding">
				<div class="ball-container hidden-xs hidden-sm col-md-1 no-padding">
				    <div class="circle">
					<p class="circle-number color-me-cobena"><strong>2</strong></p>
				    </div>
				</div>
				<div class="text-container col-xs-12 col-sm-12 col-md-11 no-padding">
				    <div class="headline-text color-me-cobena"><strong>Key Point of Class</strong></div>
				    <div class="content-text color-me-cobena">
					<p>Dolor voluptate adipisicing incididunt non voluptate amet dolore. Sunt pariatur occaecat sit qui commodo consequat excepteur veniam cupidatat non pariatur tempor Lorem. Proident ipsum ullamco anim do veniam nisi incididunt eu dolore eiusmod voluptate do aliqua officia.</p>
				    </div>
				</div>
			    </div>
			    <div class="point-container col-md-12 no-padding">
			    	<div class="ball-container hidden-xs hidden-sm col-md-1 no-padding">
				    <div class="circle">
			 	        <p class="circle-number color-me-cobena"><strong>3</strong></p>
				    </div>
			    	</div>
			    	<div class="text-container col-xs-12 col-sm-12 col-md-11 no-padding">
				    <div class="headline-text color-me-cobena"><strong>Key Point of Class</strong></div>
				    <div class="content-text color-me-cobena">
				    	<p>Dolor voluptate adipisicing incididunt non voluptate amet dolore. Sunt pariatur occaecat sit qui commodo consequat excepteur veniam cupidatat non pariatur tempor Lorem. Proident ipsum ullamco anim do veniam nisi incididunt eu dolore eiusmod voluptate do aliqua officia.</p>
				    </div>
			    	</div>
			    </div>
		    	    </div>
		    	</div>
	            </div>
		</div>
    	    </div>
	    </a>
	</div>

        <div class="row track-box">
            <a class="linky">
            <div class="col-md-12 col-sm-12 col-xs-12 track-box-outer">
                <div class="col-md-12 col-xs-12 hvr-float track-box-inner track-two">
                    <div class="track-box-inner-cushion">
                        <div class="col-md-5 col-sm-5 hidden-xs track-image-two"></div>
                        <div class="col-md-7 col-sm-7 col-xs-12 no-padding track-text-right">
                            <div class="col-md-12 no-padding separator-left">
                                <div class="track-header-box col-md-12">
                                    <p class="track-header color-me-cobena"><strong>Heading Message</strong></p>
                                </div>
                                <div class="point-line hidden-xs hidden-sm"></div>
                                <div class="point-container col-md-12 no-padding">
                                    <div class="ball-container hidden-xs hidden-sm col-md-1 no-padding">
                                        <div class="circle">
                                            <p class="circle-number color-me-cobena"><strong>1</strong></p>
                                        </div>
                                    </div>
                                <div class="text-container col-xs-12 col-sm-12 col-md-11 no-padding">
                                    <div class="headline-text color-me-cobena"><strong>Key Point of Class</strong></div>
                                    <div class="content-text color-me-cobena">
                                        <p>Dolor voluptate adipisicing incididunt non voluptate amet dolore. Sunt pariatur occaecat sit qui commodo consequat excepteur veniam cupidatat non pariatur tempor Lorem. Proident ipsum ullamco anim do veniam nisi incididunt eu dolore eiusmod voluptate do aliqua officia.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="point-container col-md-12 no-padding">
                                <div class="ball-container hidden-xs hidden-sm col-md-1 no-padding">
                                    <div class="circle">
                                        <p class="circle-number color-me-cobena"><strong>2</strong></p>
                                    </div>
                                </div>
                                <div class="text-container col-xs-12 col-sm-12 col-md-11 no-padding">
                                    <div class="headline-text color-me-cobena"><strong>Key Point of Class</strong></div>
                                    <div class="content-text color-me-cobena">
                                        <p>Dolor voluptate adipisicing incididunt non voluptate amet dolore. Sunt pariatur occaecat sit qui commodo consequat excepteur veniam cupidatat non pariatur tempor Lorem. Proident ipsum ullamco anim do veniam nisi incididunt eu dolore eiusmod voluptate do aliqua officia.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="point-container col-md-12 no-padding">
                                <div class="ball-container hidden-xs hidden-sm col-md-1 no-padding">
                                    <div class="circle">
                                        <p class="circle-number color-me-cobena"><strong>3</strong></p>
                                    </div>
                                </div>
                                <div class="text-container col-xs-12 col-sm-12 col-md-11 no-padding">
                                    <div class="headline-text color-me-cobena"><strong>Key Point of Class</strong></div>
                                    <div class="content-text color-me-cobena">
                                        <p>Dolor voluptate adipisicing incididunt non voluptate amet dolore. Sunt pariatur occaecat sit qui commodo consequat excepteur veniam cupidatat non pariatur tempor Lorem. Proident ipsum ullamco anim do veniam nisi incididunt eu dolore eiusmod voluptate do aliqua officia.</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <div class="row track-box">
            <a class="linky">
            <div class="col-md-12 col-sm-12 col-xs-12 track-box-outer">
                <div class="col-md-12 col-xs-12 hvr-float track-box-inner track-three">
                    <div class="track-box-inner-cushion">
                        <div class="col-md-5 col-sm-5 hidden-xs track-image-three"></div>
                        <div class="col-md-7 col-sm-7 col-xs-12 no-padding track-text-left">
                            <div class="col-md-12 no-padding separator-right">
                                <div class="track-header-box col-md-12">
                                    <p class="track-header color-me-cobena"><strong>Heading Message</strong></p>
                                </div>
                                <div class="point-line hidden-xs hidden-sm"></div>
                                <div class="point-container col-md-12 no-padding">
                                    <div class="ball-container hidden-xs hidden-sm col-md-1 no-padding">
                                        <div class="circle">
                                            <p class="circle-number color-me-cobena"><strong>1</strong></p>
                                        </div>
                                    </div>
                                <div class="text-container col-xs-12 col-sm-12 col-md-11 no-padding">
                                    <div class="headline-text color-me-cobena"><strong>Key Point of Class</strong></div>
                                    <div class="content-text color-me-cobena">
                                        <p>Dolor voluptate adipisicing incididunt non voluptate amet dolore. Sunt pariatur occaecat sit qui commodo consequat excepteur veniam cupidatat non pariatur tempor Lorem. Proident ipsum ullamco anim do veniam nisi incididunt eu dolore eiusmod voluptate do aliqua officia.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="point-container col-md-12 no-padding">
                                <div class="ball-container hidden-xs hidden-sm col-md-1 no-padding">
                                    <div class="circle">
                                        <p class="circle-number color-me-cobena"><strong>2</strong></p>
                                    </div>
                                </div>
                                <div class="text-container col-xs-12 col-sm-12 col-md-11 no-padding">
                                    <div class="headline-text color-me-cobena"><strong>Key Point of Class</strong></div>
                                    <div class="content-text color-me-cobena">
                                        <p>Dolor voluptate adipisicing incididunt non voluptate amet dolore. Sunt pariatur occaecat sit qui commodo consequat excepteur veniam cupidatat non pariatur tempor Lorem. Proident ipsum ullamco anim do veniam nisi incididunt eu dolore eiusmod voluptate do aliqua officia.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="point-container col-md-12 no-padding">
                                <div class="ball-container hidden-xs hidden-sm col-md-1 no-padding">
                                    <div class="circle">
                                        <p class="circle-number color-me-cobena"><strong>3</strong></p>
                                    </div>
                                </div>
                                <div class="text-container col-xs-12 col-sm-12 col-md-11 no-padding">
                                    <div class="headline-text color-me-cobena"><strong>Key Point of Class</strong></div>
                                    <div class="content-text color-me-cobena">
                                        <p>Dolor voluptate adipisicing incididunt non voluptate amet dolore. Sunt pariatur occaecat sit qui commodo consequat excepteur veniam cupidatat non pariatur tempor Lorem. Proident ipsum ullamco anim do veniam nisi incididunt eu dolore eiusmod voluptate do aliqua officia.</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
  </div>
<div class="noot" style="padding-bottom: 2%;"> </div>

